.arrivals {
	background-color: #F8F3F4;

	& .container {
		padding: 60px 0;
		display: flex;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
			text-align: center;
			padding: 24px 0;
		}
	}

	&__head {
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		color: $dark-pink;
	}

	&__path {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: #636363;

		@include mobile {
			padding: 32px 0;
		}

		& span {
			font-weight: 700;
			color: $dark-pink;
		}
	}

	&__margin {
		margin: 128px auto;

		@include mobile {
			margin: 64px auto;
		}

	}
}

.collection {
	position: relative;
	margin-top: -65px;
	text-align: center;
	padding: 64px 0;
	border: 1px solid #eaeaea;
	background-color: #fff;
	z-index: 6;

	@include tablet {
		margin-top: 0;
	}

	&__wrapper {
		max-width: 640px;
		margin: 0 auto;

		@include mobile {
			padding: 0 16px;
		}
	}

	&__head {
		position: relative;
		padding-bottom: 15px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: $dark-pink;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 63px;
			height: 3px;
			background-color: $dark-pink;
			transform: translateX(-50%);
		}
	}

	&__subhead {
		margin-top: 12px;
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
		text-transform: uppercase;
		color: #4D4D4D;
	}

	&__text {
		margin-top: 48px;
		padding: 0 44px;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: #5e5e5e;

		@include mobile {
			margin-top: 32px;
			padding: 0 0;
		}
	}

	&__price {
		margin-top: 32px;
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;
		color: #EF5B70;
	}

	&__separate {
		margin-top: 65px;
		border: none;
		border-top: 1px solid #eaeaea;

		@include mobile {
			margin: 32px 100px 0 100px;
		}
	}

	&__list {
		margin-top: 65px;

		@include mobile {
			margin-top: 50px;
		}
	}

	&__item {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}

		@include mobile {
			margin-left: 10px;
		}

		& select {
			border: none;
			color: #6F6E6E;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 17px;

			@include mobile {
				font-size: 10px;
				line-height: 12px;
			}

			&:hover {
				color: #dFdEdE;
				cursor: pointer;

				& option {
					color: #6F6E6E;
				}
			}
		}
	}

	&__button {
		margin-top: 50px;
		padding: 14px 60px;
		position: relative;
		font-family: Lato;
		font-size: 16px;
		line-height: 19px;
		background-color: transparent;
		border: 1px solid #F26376;
		color: #F26376;

		&:hover {
			background-color: #F26376;
			color: #fff;
			cursor: pointer;

			& .collection__button-image {
				fill: #Fff;
			}
		}

		&-image {
			position: absolute;
			top: 11px;
			left: 22px;
			fill: #F26376;
		}
	}
}