.feature {
	margin-top: 95px;
	background-color: #222;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 340px;
		text-align: center;

		@include tablet {
			flex-direction: column;
			padding-bottom: 64px;
		}

		&>li {
			@include tablet {
				padding-top: 50px;
			}
		}
	}

	&__head {
		padding: 28px 0 16px;
		font-size: 20px;
		line-height: 24px;
		color: white;
	}

	&__text {
		max-width: 360px;
		padding: 0 10px;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: #fbfbfb;
	}
}